## Parsing XML files in python

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse('/content/data.xml')
tree

In [ ]:
with open('/content/data.xml', 'r') as file:
  xml_content = file.read()
  print(xml_content)

<bookstore>
	<book>
		<title>Python Programming</title>
		<author>John Doe</author>
		<price>29.99</price>
	</book>
	<book>
		<title>Web Development</title>
		<author>Jane Smith</author>
		<price>24.95</price>
	</book>
</bookstore>

In [ ]:
root = tree.getroot()
root

In [ ]:
import pandas as pd
import numpy as np
booktitle=[]
bookauthor=[]
bookprice=[]
for i in root.findall('book'):
  book_title=i.find('title').text
  book_author = i.find('author').text
  book_price = i.find('price').text
  print(f"Book Title: {book_title},Book Author: {book_author},Book Price:{book_price}")
  data = {'Book Title':booktitle , 'Book Author':bookauthor , 'Book price':bookprice}
df=pd.DataFrame(data)
df.index = np.arange(1,len(df)+1)
print(df)

Book Title: Python Programming,Book Author: John Doe,Book Price:29.99
Book Title: Web Development,Book Author: Jane Smith,Book Price:24.95
Empty DataFrame
Columns: [Book Title, Book Author, Book price]
Index: []

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse('/content/movies.xml')
tree

In [ ]:
with open('/content/movies.xml', 'r') as file:
  xml_content = file.read()
  print(xml_content)

<netflix>
	<movie>
		<name>Oppenheimer</name>
		<budget>800 million USD</budget>
		<cast>
			<actor>Murphy</actor>
			<actor>Blunt</actor>
			<actor>Downey</actor>
			<actor>Damon</actor>
		</cast>
		<ReleaseDate>21July2023</ReleaseDate>
	</movie>
	<movie>
		<name>Dhoom2</name>
		<budget>80 million USD</budget>
		<cast>
			<actor>Uday</actor>
			<actor>Abhishek</actor>
			<actor>Hritik</actor>
			<actor>Majnu</actor>
		</cast>
		<ReleaseDate>24November2006</ReleaseDate>
	</movie>
</netflix>

In [ ]:
root = tree.getroot()
root

In [ ]:
import pandas as pd
import numpy as np
moviename=[]
movieReleaseDate=[]
moviebudget=[]
moviecast=[]

In [ ]:
for movie in root.findall('movie'):
  movie_name=movie.find('name').text
  movie_releasedate = movie.find('ReleaseDate').text
  movie_budget = movie.find('budget').text
  print(f"Movie Name: {movie_name} ,movie releasedate: {movie_releasedate} ,Movie Budget:{movie_budget}")
  data = {'Movie Name':moviename , 'Movie ReleaseDate':movieReleaseDate , 'Movie Budget':moviebudget}
df=pd.DataFrame(data)
df.index = np.arange(1,len(df)+1)
print(df)

Movie Name: Oppenheimer ,movie releasedate: 21July2023 ,Movie Budget:800 million USD
Movie Name: Dhoom2 ,movie releasedate: 24November2006 ,Movie Budget:80 million USD
Empty DataFrame
Columns: [Movie Name, Movie ReleaseDate, Movie Budget]
Index: []

In [ ]:
cast=movie.find('cast').findall('actor')
for j in cast:
  print(j.text)

Uday
Abhishek
Hritik
Majnu

## Parsing JSON files python

In [ ]:
x=np.arange()

In [ ]:
import json
import numpy as np

In [ ]:
data ={
    "name": "MS Dhoni",
    "age": "42",
    "email": "xyz@abc.com",
    "speed": "x",
    "is_GOAT": True,
    "hobbies": ["badminton", "football" ,"swimming"],
    "address": {
        "street": "123 main st",
        "city": "Ranchi",
        "zip_code": "834001",
    }
}

json_object = json.dumps(data,indent=1)

print(json_object)

{
 "name": "MS Dhoni",
 "age": "42",
 "email": "xyz@abc.com",
 "speed": "x",
 "is_GOAT": true,
 "hobbies": [
  "badminton",
  "football",
  "swimming"
 ],
 "address": {
  "street": "123 main st",
  "city": "Ranchi",
  "zip_code": "834001"
 }
}

In [ ]:
import json
f = open('/content/example_1.json')
example_1=json.load(f)
print(example_1)

for i in example_1:
  print(i,example_1[i])

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}
fruit Apple
size Large
color Red

In [ ]:
import json
f = open('/content/example_2.json')
example_2=json.load(f)
print(example_2)

for i in example_2:

  print(i,example_2[i])

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}
quiz {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}